.head {
  /* padding: 20px 0; */
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  padding: 13px 0;
  text-align: center;
}

.menu a {
  padding: 4px 16px;
  margin-right: 8px;
  color: #3a0145;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  transition: 0.5s;
  border-radius: 20px;

}

.menu li {
  margin-right: 0;
  padding: 3px 10px;
  font-weight: 600;
  transition: 0.3s;
  border-bottom: 2px solid transparent;
}

.menu li:hover {
  border-color: #571456;
}

/* .menu a:hover {
	transform: scale(1.1);
	background: #ffffff9d;
  border-color: #333;

}

.main_btns .btn {
	margin: 0 8px;

}
.header_ic{
	width: 70px;
	height: 70px;
}
.logo_ic{
	width: 60px;
	height: 60px;
} */
header{
  margin: 0 auto;
}