
.CartList .CartItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s;
}

.CartItem:hover {
  background-color: #f9f9f9;
}

.CartItem img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.CartItem a {
  font-size: 18px;
  color: #333;
  text-decoration: none;
  margin-bottom: 5px;
  display: block;
  transition: color 0.3s;
  width: 200px;
}

.CartItem a:hover {
  color: #2c3d3d;
}

.CartItem input[type="number"] {
  width: 50px;
  height: 30px;
  font-size: 14px;
  padding: 5px;
  border: none;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: inset 0 2px 4px rgba(173, 25, 158, 0.1);
  transition: box-shadow 0.3s;
}

.CartItem input[type="number"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #222;
}

.CartItem span {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

.CartItem button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #fdc0c0;

  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.btn_cart {
  width: 100px;
}

.CartItem button:hover {
  background-color: rgba(249, 200, 200, 0.651);
  color: #420000;
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.CartTotal{
  padding: 30px;
  text-align: right;
}
@media screen and (max-width: 780px) {
  .CartItem {
    padding: 8px;
    display: flex;
    flex-direction: column;
  }

  .CartItem img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }

  .CartItem a {
    font-size: 16px;
    margin-bottom: 3px;
  }

  .CartItem input[type="number"] {
    width: 40px;
    height: 25px;
    font-size: 12px;
  }

  .CartItem span {
    font-size: 14px;
  }

  .CartItem button {
    font-size: 12px;
    padding: 6px 12px;
  }
}

@media screen and (max-width: 779px) {
  .CartItem {
    padding: 8px;
    display: flex;
    flex-direction: column;
  }

  .CartItem img {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    object-fit: cover;
  }

  .CartItem a {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
  }

  .CartItem input[type="number"] {
    width: 40px;
    height: 25px;
    font-size: 15px;
 margin: 8px;
  }

  .CartItem span {
    font-size: 18px;
  }

  .CartItem button {
    font-size: 4px;
    padding: 6px 12px;
    margin-bottom: 20px;
  }
  .CartTotal{
    padding: 30px;
    text-align: center;
  }
  h1{
    text-align: center;
    margin: 15px;
  }
}