.contacts-container {
    padding: 40px;
    border-radius: 8px;
    text-align: center;
  }
  
  .contacts-heading {
    font-size: 36px;
    color: #3a0145;
    margin-bottom: 30px;
  }
  
  .contact-details {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .contact-label {
    font-weight: bold;
    line-height: 40px;
    font-size: 25px;
color: #3a0145;
    

  }
  .contact-label-child{
    color: #44134e;
  }
  .contact-message {
    font-size: 24px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #44134e;
margin-bottom: 80px;
  }
  
  .contact-action {
    margin-top: 20px;
  }
  
  .contact-button {
    padding: 12px 24px;
    font-size: 20px;
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-button:hover {
    background-color: #000;
  }
  
  @media screen and (max-width: 768px) {
    .contacts-container {
      padding: 20px;
    }
  
    .contacts-heading {
      font-size: 28px;
      margin-bottom: 20px;
    }
  
    .contact-details {
      font-size: 16px;
    }
  
    .contact-button {
      font-size: 18px;
    }
  }
  
  .network-icons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .network-icon {
    width: 40px;
    height: 40px;
    transition: background-color 0.3s;
    cursor: pointer;
    transition: .5s;
    color: #26052d;
    margin-bottom: 30px;

  }
  
  .network-icon:hover {
    color: #35014b;
    transform: scale(1.1);
  }
  
@media screen and (max-width: 650px){
  .network-icon{
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
  }
  .contact-message {  
    margin-bottom: 40px;
    color: #44134e;
    font-size: 20px;
  }
}