aside {
  width: 150px;
}
main{
  width: calc(100% - 150px);
  padding-left: 20px;
}

main{
  padding-top: 200px;
  margin: 0 auto;
  min-height: 100vh;
}

@media screen and (max-width: 400px) {
  main{
    width: 100%;
    padding: 0 0 30px;
    min-height: 150vh;
  }
}

@media screen and (max-width: 888px) {
  .Layout .menu > .Menu {
    display: none;
  }

}
