.Drawer .content {
    background-color: #fffffffa;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 260px;
    overflow: hidden;
  
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    transform: translateX(-300px);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 91px 33px -53px rgba(135, 87, 56, 0.47) inset;
  }
  .Drawer .backdrop {
    background-color: rgba(0, 0, 0, 0.3);
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 90;
    display: none;
  }
  
  .open .backdrop {
    display: block;
  }
  .open .content {
    transform: translateX(0);
  }
  
  @media (min-width: 596px) {
    .Drawer .backdrop {
      display: none;
    }
    .Drawer .content {
      transform: translateX(-300px);
    }
  }