.logo_name {
	font-size: 50px;
	font-weight: 700;
	/* margin-top: 15px; */
	color: rgb(56, 0, 49);
}

.Header {
	position: fixed;
	width: 100%;
	background: #ffe4e4c6;
	z-index: 1000;
	top: 0;
}
/* header ul{
	filter: blur(2px);
} */
