.del_tit{
    font-size: 30px;
    color: #3a0145;
	font-weight: 700;
	margin-bottom: 30px;
    line-height: 55px;
    font-family: El Messiri;
}

.del_txt{
    font-size: 18px;
    color: #3a0145;
	margin-bottom: 15px;
    line-height: 30px;
}
@media screen and (max-width: 750px){
    .del_txt{
        font-size: 18px;
        color: #3a0145;
        margin-bottom: 15px;
        line-height: 24px;
    }
}